html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }
form{
	border: 1px black solid;
	max-width: max-content;
	padding: 20px;
	background-color: #efefef;
	margin: 100px auto;
}
.block{
	overflow: auto;
	width: 400px;
	
}
.margin{
	margin: 10px 0 0 0
}
.input{
	float: right;
}
.text{
	float: left;
}
.center{
	justify-content: space-between;
	padding: 0px 10px;
	margin: 10px 0px 0px 0px;
	display:flex;
}
.center input{
	margin-right: 50px;
}