html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  }
form{
	border: 1px black solid;
	max-width: max-content;
	padding: 20px;
	background-color: #efefef;
	margin: 100px auto;
}
p{
	margin: 0;
}
.block{
	overflow: auto;
	width: 400px;
	
}
.margin{
	margin: 10px 0 0 0;
}
.input{
	float: right;
}
.text{
	float: left;
}
.center{
	justify-content: space-between;
	padding: 0px 10px;
	margin: 10px 0px 0px 0px;
	display:flex;
}
 button{
	cursor: pointer;
	border-radius:10px;
	padding: 4px;
	color: white;
	background-color: black;
} 
button:hover{
	background-color: #fff;
	color: black;
}